<template>
  <div class="section section-dark section-jumbotron section-jumbotron-home"
       style="background-image:url(/static/images/bg-search.jpg);">
    <div class="container">
      <h2 class="section__title">Купить авиабилеты выгодно</h2>
      <div class="section-jumbotron-panel">
        <div class="section-jumbotron-panel__body flight-search-form-wrapper">
          <div class="row no-gutters mb-md-2">
            <b-input-group size="lg">
              <vue-bootstrap-typeahead
                  v-model="cityFrom"
                  :data="city"
                  class="input__autocomplete"
                  placeholder="Город или аэропорт"
              />
              <vue-bootstrap-typeahead
                  v-model="cityTo"
                  :data="city"
                  class="input__autocomplete input__autocomplete-center"
                  placeholder="Город или аэропорт"
              />
              <datepicker v-model="dateTo"
                          placeholder="Туда"
                          class="input__datepicker"
                          :language="language"
              ></datepicker>
              <datepicker v-model="dateFrom"
                          placeholder="Обратно"
                          class="input__datepicker"
                          :language="language"
              ></datepicker>
              <b-dropdown variant="link"
                          size="lg"
                          no-caret
                          class="dropdown__container"
              >
                <template slot="button-content">
                  <b-form-input :value="computedPassenger">

                  </b-form-input>
                </template>
                <template>
                  <div class="flight-search-form-passengers">
                    <b-button-group class="btn-toggle btn-toggle-block">
                      <b-button @click="isEconom = true"
                                class="btn btn-sm"
                                :class="[isEconom ? 'btn-brand' : 'btn-outline-brand']"
                      >
                        Эконом
                      </b-button>
                      <b-button @click="isEconom = false"
                                class="btn btn-sm"
                                :class="[isEconom ? 'btn-outline-brand' : 'btn-brand' ]"
                      >
                        Бизнес
                      </b-button>
                    </b-button-group>
                    <div class="flight-search-form-passengers-row">
                      <div>
                        <div>Взрослые</div>
                      </div>
                      <div>
                        <button @click="adults = adults - 1"
                                class="btn btn-primary btn-circle"
                                :disabled="adults <= 1"
                        >
                          –
                        </button>
                        <span class="flight-search-form-passengers-counter">
                          {{ adults }}
                        </span>
                        <button @click="adults = adults + 1"
                                class="btn btn-primary btn-circle"
                        >
                          +
                        </button>
                      </div>
                    </div>
                    <div class="flight-search-form-passengers-row">
                      <div>
                        <div>Дети c местом</div>
                        <div class="text-xs text-muted">До 12 лет</div>
                      </div>
                      <div>
                        <button @click="children = children - 1"
                                class="btn btn-primary btn-circle"
                                :disabled="children <= 0"
                        >
                          –
                        </button>
                        <span class="flight-search-form-passengers-counter">
                          {{ children }}
                        </span>
                        <button @click="children = children + 1"
                                class="btn btn-primary btn-circle"
                        >
                          +
                        </button>
                      </div>
                    </div>
                    <div class="flight-search-form-passengers-row">
                      <div>
                        <div>Дети без места</div>
                        <div class="text-xs text-muted">До 2 лет</div>
                      </div>
                      <div>
                        <button @click="childrenWithout = childrenWithout - 1"
                                class="btn btn-primary btn-circle"
                                :disabled="childrenWithout <= 0"
                        >
                          –
                        </button>
                        <span class="flight-search-form-passengers-counter">
                          {{ childrenWithout }}
                        </span>
                        <button @click="childrenWithout = childrenWithout + 1"
                                class="btn btn-primary btn-circle"
                        >
                          +
                        </button>
                      </div>
                    </div>
                  </div>
                </template>
              </b-dropdown>
            </b-input-group>
          </div>
          <div class="row">
            <div class="col col-12 col-md-9">
              <b-form-group>
                <b-form-checkbox-group plain
                                       v-model="selected"
                                       :options="options"
                                       class="checkbox__container"
                />
              </b-form-group>
            </div>
            <div class="col col-12 col-md-3">
              <button @click="send" type="submit" class="btn btn-block btn-lg mb-3 mb-md-0 btn-primary">
                Найти билеты
              </button>
            </div>
          </div>
        </div>
        <div class="section-jumbotron-panel__footer text-center">
          <div class="banner-fluid">
            <img src="https://staging-cdn.mego.travel/i/banners/airline-KC-728x90-stopover.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import VueBootstrapTypeahead from 'vue-bootstrap-typeahead'
  import Datepicker from 'vuejs-datepicker'
  import {ru} from 'vuejs-datepicker/dist/locale'

export default {
  name: 'search',
  components: {
    VueBootstrapTypeahead,
    Datepicker
  },
  data () {
    return {
      city: ['Москва', 'Санкт-Петербург', 'Казань', 'Новосибирск'],
      cityFrom: '',
      cityTo: '',
      dateTo:'',
      dateFrom: '',
      language: ru,
      isEconom: true,
      adults: 1,
      children: 0,
      childrenWithout: 0,
      selected: [],
      options: [
        {text: 'В одну сторону', value: 'В одну сторону'},
        {text: 'Без пересадок', value: 'Без пересадок'},
        {text: 'Сложный маршрут', value: 'Сложный маршрут'},
        {text: '≈ 3 дня', value: '≈ 3 дня'}
      ]
    }
  },
  computed: {
    computedPassenger(){
      let all = this.adults + this.children + this.childrenWithout
      let status = this.isEconom ? 'эконом' : 'бизнес'
      return `${all} пассажир, ${status}`
    }
  },
  methods: {
    send(){
      let status = this.isEconom ? 'эконом' : 'бизнес'
      let selected = this.selected
      let adults = this.adults
      let children = this.children
      let childrenWithout = this.childrenWithout
      let cityFrom = this.cityFrom
      let cityTo = this.cityTo
      let dateTo = this.dateTo
      let dateFrom = this.dateFrom
      let send = {
        cityFrom,
        cityTo,
        dateTo,
        dateFrom,
        status,
        selected,
        adults,
        children,
        childrenWithout
      }
      console.log(JSON.stringify(send))
    }
  }
}
</script>


<style scoped>

  .section-dark {
    color: #fff;
  }

  .section-jumbotron .section__title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 32px;
    text-align: center;
  }

  .section-jumbotron-home {
    padding: 32px 0 16px;
    display: flex;
    align-items: center;
  }
  .section-jumbotron .section__title {
    font-size: 36px;
    line-height: 42px;
  }
  .section-jumbotron-panel {
    background-color: #fff;
    border-radius: 4px;
    color: #444;
  }
  .flight-search-form-wrapper {
    min-height: 128px;
  }
  .section-jumbotron-panel__body {
    padding: 24px 16px 16px;
  }
  .section-jumbotron-panel__footer {
    border-top: 1px solid #d1d1d1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 16px;
  }
  .flight-search-form-passengers {
    min-width: 280px;
    padding: 8px 16px;
    position: relative;
  }
  .btn-brand {
    color: #fff;
    background-color: #e62e67;
    border-color: #e62e67;
  }
  .btn {
    display: inline-block;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 10px 16px;
    font-size: 15px;
    line-height: 28px;
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .btn-sm {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 19px;
    border-radius: 4px;
  }
  .btn-brand:hover {
    color: #fff;
    background-color: #de1b57;
    border-color: #de1b57;
  }
  .btn-brand.focus, .btn-brand:focus {
    box-shadow: 0 0 0 0.2rem rgba(230,46,103,.5);
  }
  .btn-outline-brand {
    color: #e62e67;
    background-color: transparent;
    background-image: none;
    border-color: #e62e67;
  }
  .btn-toggle.btn-toggle-block, .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .btn-toggle .btn {
    display: block;
    flex: 1 1 auto;
  }
  .flight-search-form-passengers-row {
    align-items: center;
    display: flex;
    margin: 10px 0;
  }
  .flight-search-form-passengers-row>div:first-child {
    text-align: right;
    flex: 0 0 120px;
    max-width: 120px;
  }
  .flight-search-form-passengers .btn-circle:first-child {
    margin-left: 10px;
  }
  .flight-search-form-passengers .btn-circle {
    font-size: 22px;
    height: 40px;
    width: 40px;
  }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #e62e67;
    border-color: #e62e67;
  }
  .btn-primary {
    color: #fff;
    background-color: #e62e67;
    border-color: #e62e67;
  }
  .btn-circle {
    border-radius: 50%;
    padding: 0;
    display: inline-flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
  }
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #de1b57;
    border-color: #d81a55;
  }
</style>
