<template>
  <div id="app">
    <div class="header">
      <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
        <div class="container">

          <router-link to="/" class="navbar-brand">
            <img src="/static/images/mego.png" alt="Mego - умный сервис выгодных авиабилетов"/>
          </router-link>

          <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav navbar-nowrap mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Авиабилеты</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/trains">Ж/д билеты</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/hotels">Отели</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cars">Прокат авто</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/buses">Автобусы</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <router-view></router-view>

  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
#app {
  margin: 0;
  font-family: Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: #444;
  background-color: #fff;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-top: 0;
}
.header .navbar {
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  margin-right: 60px;
}
.header .navbar .navbar-collapse {
  min-height: 78px;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.header .navbar .nav-item:not(:last-child) {
  margin-right: 8px;
}
.header .nav-link {
  color: #606060!important;
}
.header .nav-link:active, .header .nav-link:focus, .header .nav-link:hover {
  color: #e62e67!important;
}
.input__autocomplete{
  height: 100%;
  flex: 1 1 auto;
}
.input__autocomplete .input-group{
  height: 100%;
}
.input__autocomplete .input-group input{
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
.input__autocomplete-center .input-group input{
  border-radius: 0;
}
.input__datepicker>div{
  height: 100%;
}
.input__datepicker>div>input{
  height: 100%;
  border: 1px solid #ced4da;
  border-right: 0;
  padding-left: 10px;
}

.input__datepicker .vdp-datepicker__calendar>div{
  background-color: white;
}
.dropdown__container{
  height: 56px;
}
.dropdown__container>button{
  padding: 0;
  border: 0;
}
.dropdown__container>button>input{
  padding: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 56px;
}
.checkbox__container .form-check .form-check-input{
  width: 20px;
  height: 20px;
}

.checkbox__container .form-check .form-check-input:checked{
  background-color: #e62e67!important;
  border-color: #e62e67!important;
}


@media (min-width: 992px){
  .header .navbar-brand {
    margin-right: 60px;
  }
}
</style>
